# Desativa a listagem de arquivos das pastas
Options -Indexes

# Ativa o sistema de reescrita de URL
RewriteEngine On

# Verifica se o arquivo solicitado NÃO existe
RewriteCond %{REQUEST_FILENAME} !-f

# Verifica se a pasta solicitada NÃO existe
RewriteCond %{REQUEST_FILENAME} !-d

# Redireciona tudo para index.php passando a rota em ?page=
RewriteRule ^(.*)$ index.php?page=$1 [QSA,L]