:root {
  --primary-900: #c0c01a;
  --primary-800: #21bae8;
  --primary-700: #72558e;
  --primary-600: #886ca8;
  --primary-500: #9f84c0;
  --primary-400: #bba3d6;
  --primary-300: #d6c4e9;
  --primary-100: #f3edfa;
  --primary-50: #fbf8ff;

  --pink-500: #c78ab8;
  --pink-100: #f7edf5;

  --neutro-900: #111827;
  --neutro-700: #374151;
  --neutro-500: #6b7280;
  --neutro-300: #d1d5db;
  --neutro-100: #f3f4f6;
  --neutro-50: #f9fafb;

  --fundo-azul: #dbeafe;
  --texto-azul: #8b5cf6;
  --fundo-verde: #d1fae5;
  --texto-verde: #10b981;
  --fundo-amarelo: #fef3c7;
  --texto-amarelo: #f59e0b;
  --fundo-roxo: #ede9fe;
  --texto-roxo: #c084fc;
  --texto-card: #64748b;

  --white: #ffffff;
}

body {
  font-family: "Poppins", sans-serif;
}
